<div id="banner-area">
  <img src="../../../assets/images/banner-kanuf.jpg" alt="" />
	<div class="parallax-overlay"></div>
	<!-- Subpage title start -->
	<div class="banner-title-content">
		<div class="text-center">
			<h2>کناف</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="#">خانه</a></li>
					<li class="breadcrumb-item text-white" aria-current="page">کناف</li>
				</ol>
			</nav>
		</div>
	</div><!-- Subpage title end -->
</div><!-- Banner area end -->
<!-- Portfolio start -->
<!-- Portfolio start -->
<section id="portfolio" class="portfolio mt-4">
	<div class="container">
		<!--Isotope filter start -->
		<div class="row">
      <div class="col-12">
        <h3 class="text-center">کناف </h3>
        <p>شاید فکر می کنید که در زمان طراحی دکوراسیون داخلی منزل تنها مبل ها مانند شخصیت ها در چیدمان اتاق ایفا گر نقش هستند اما آنچه در اصل تعیین کننده یک محیط است سقف و دیوار های آن می باشد که به عنوان مهم ترین عناصر پس زمینه یک فضا را نشان می دهند.</p>
<p>به دلیل پیشرفت هایی که امروزه در زمینه معماری داخلی انجام شده است همانند سال های گذشته برای سقف از معماری و مصالح سنتی استفاده نمی شود و روش های متنوعی برای طراحی سقف ها ارائه شده که هر روز هم فراگیر تر می شوند. نمونه هایی که امروزه شاهد آن هستیم سقف های کاذب کناف هستند که روز به روز هم استفاده از آنها بیشتر شده، به طوری که امروزه کمتر خانه را می توانید پیدا کنید که از سقف های کناف بی بهره باشند.
  <span id="dots">...</span><button class="btn more"  onclick="readMore()" id="myBtn">بیشتر بدانید</button>

</p>
<span id="more">
<p>سیستم کناف همانند یک بوم سفید است که این امکان را فراهم می کند تا طراحان بتوانند هنر و خلاقیت خود را روی آن پیاده کنند و از آنجایی که دیوار ها و سقف هر فضایی از نظر طراحی دکوراسیون داخلی از اهمیت ویژه ای برخوردار است، به جرات می توان گفت که دیوار یا سقفی که سیستم کناف روی آن اجرا شده باشد آنچنان مهم و با ارزش می شود که می توان با یک مدیریت هوشمندانه طرح زیبایی را روی آن اجرا کرده تا از این طریق تاثیر مثبتی بر دکوراسیون و آرایش فضا ایجاد نمود.</p>
<p>مزایای کنافتوجه داشته باشید که استفاده از کناف در فضاهای مختلف هم برای سقف و هم برای دیوار، مزیت های مهمی دارد که باعث می شود امروزه اکثر معماران در طراحی داخلی منازل از کناف استفاده کنند. در شرایط کاملا&rdquo; طبیعی و با تعداد نیروی کار معقول سرعت اجرای کناف نسبت به سیستم سنتی تا 4 برابر بیشتر می باشد. از آنجایی که سیستم کناف بسیار سبک و قابل انعطاف می باشد در برابر زلزله از خود مقاومت نشان می دهد. کناف دارای اتصالات مناسبی می باشد و به همین خاطر از ایمنی مطلوبی برخوردار باشد. در واقع دیوار ها و همچنین سقف های کاذب کناف از طریق پیچ و مهره و بر اساس ضوابط مدونی نصب می شود که این مسله ایمنی آن را افزایش می دهد. به دلیل طراحی مناسبی که کناف دارد اجرای راحتی هم خواهد داشت.
</p>
<p>ساختار سیستم کناف به گونه ای است که وزن کمی نسبت به سایر سازه های متداول امروزی دارد و بر طبق محاسبات انجام شده، اسکلت سازه کناف تا 25 درصد سبک تر از از سایر سیستم ها می باشد و بدین ترتیب اجرای کناف هزینه ها را سر شکن خواهد کرد. به دلیل اینکه فضای کمی توسط سیستم کناف اشغال می شود، سطح مفید زیر بنا دیوار ها و پارتیشن های کناف افزایش می یابد. اگر کناف را به صوت اصولی و بر طبق استاندارد های تعریف شده اجرا کنید عایق حرارتی مناسبی می باشند.قابلیت مهم کناف رنگ پذیری بسیار بالای آنها است، اما توجه داشته باشید که این قابلیت زمانی امکان پذیر است که ابتدا روی آنها را بتونه کرده و بعد رنگ آمیزی انجام شود.</p>
<p>در صورتی کناف عایق صوتی مناسبی است که اجرای دیوار کناف را تا سقف اصلی ادامه داده و کلیه المان های فلزی با نوار های عایق از زمین و سقف جدا شده باشند. کناف در برابر آتش سوزی و همچنین رطوبت مقاومت بالایی دارد. در صورتی که بخواهید به صورت دکوراتیو از کناف استفاده کنید، به راحتی انعطاف پذیر می باشند.</p>
<p>برای فضاهایی که نیاز به بازسازی دارند می توان از کناف استفاده نمود، زیرا محیط های قدیمی را تبدیل به فضاهای جدید با کاربری های متفاوت می کند. مصالحی که در سیستم کناف مورد استفاده قرار می گیرد تا 75 درصد قابل بازیافت می باشند. استفاده از کناف به گونه ای است که نخاله های ساختمانی را تا حد بسیار زیادی کاهش می دهد. نکته مهم این است که نخاله های سیستم کناف نسبت به نخاله های سیستم سنتی یک به پنچ می باشد که این مسله باعث کاهش بسیاری از هزینه ها مانند هزینه حمل، تخلیه نخاله ها و &hellip; می شود.</p>
<p>نیروی انسانی در اجرای سیستم کناف کاهش می یابد، زیرا نیاز به نیروی کاری برای انجام عملیات دیوار چینی، گچ کاری و سفید کاری کمتر شده و حتی در اجرای سقف کناف هم به جای اینکه از میلگرد و رابیتس استفاده شود می توان برای جوش کاری، رابیتس کاری و گچ کاری فقط از یک تیم استفاده شود. بدون اینکه هیچ گونه آسیب و تخریبی انجام شود می توانید به راحتی تاسیسات را از فضای ما بین دیوار های کناف عبور دهید.</p>
<p>در سیستم کناف به خاطر اینکه به صورت خشک به هم متصل شده اند و از ملات استفاده نمی شود به راحتی می توان به تاسیسات ساختمانی دسترسی داشته و آنها را ترمیم نمود. در صورتی که طراحی ساختمان بر اساس سیستم کناف باشد می توان در مصرف فولاد، سیمان و مصالحی مانند گچ، آهک و خاک صرفه جویی نمود. همان طور که گفته شد در اجرای کناف نیاز به جوشکاری نبوده و این مسله باعث می شود تا مشکلات استفاده از برق شهری جهت جوشکاری از بین برود.استفاده از سیستم ساخت و ساز کناف این امکان را برای شما فراهم می کند تا تولید زباله های ساختمانی تا حد زیادی کاهش یافته و در نهایت به حفظ محیط زیست کمک می شود.جدا از زیبایی چشمگیری که سقف یا دیوارهای کاذب کناف دارند، باید توجه داشته باشید که طراحی کناف را باید با توجه به شرایط فیزیکی محیط انجام دهید و بعد از پایان طراحی باید کار نصب و راه اندازی را افرادی انجام دهند که در این زمینه مهارت داشته باشند، تا بتوانید نتیجه مطلوبی را دریافت کنید.</p>
<h4>روش اجرای دیوار های کناف</h4>
<p> اجرای روش اجرای دیوار کناف بسیار سریع و راحت انجام می شود. برای شروع کار ابتدا باید رانر های فولادی سبک با ضخامت 7 یا 10 سانتی متری را به زمین و سقف روبروی آن به وسیله میچ و پیچ محکم کرده و در مرحله بعد باید استاد های فولادی سبک را بین رانرهای فولادی پیچ شوند و سپس یک طرف از دیوار را با پنل های گچی که دارای ضخامت بالایی هستند را به استاد ها پیچ می کنند.توجه داشته باشید که اگر بخواهید دیوار عایق صوت، گرما و &hellip; باشد باید بین دو طرف دیوار استفاده شود و در نهایت باید طرف دیگر دیوار را به وسیله پنل تکمیل نمود تا دیوار کناف به درستی اجرا شود</p>
</span>
</div>
			<div class="col-lg-12" >
				<!-- <div class="isotope-nav" data-isotope-nav="isotope">
					<ul>
            <li><a href="#" class="active" data-filter="*">همه ی محصولات</a></li>


					</ul>
				</div> -->
			</div>
		</div><!-- Isotope filter end -->
	</div>
<br>
	<div class="container-fluid ">
    <div class="row no-gutters" id="isotope">

      <div *ngFor="let i of items" class="col-lg-2 col-md-2 col-sm-4 col-6 1 isotope-item">
				<div class="grid">

					<figure class="m-0 effect-oscar">
						<img [src]=url+i+ex alt="دکوراسیون داخلی کرمانشاه کناف">
						<figcaption>
              <h3>کناف</h3>
              <a class="view icon-pentagon" data-rel="prettyPhoto"
              [href]=url+i+ex ><i
                class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div><!-- Isotope item end -->


		</div>
	</div><!-- Container end -->
</section><!-- Portfolio end -->
<app-parallax></app-parallax>
