<div id="banner-area">
  <img src="../../../assets/images/banner-wallpaper.jpg" alt="" />
  <div class="parallax-overlay"></div>
  <!-- Subpage title start -->
  <div class="banner-title-content">
    <div class="text-center">
      <h2>کاغذ دیواری</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="#">خانه</a></li>
          <li class="breadcrumb-item text-white">محصولات</li>
          <li class="breadcrumb-item text-white" aria-current="page">کاغذ دیواری</li>
        </ol>
      </nav>
    </div>
  </div><!-- Subpage title end -->
</div><!-- Banner area end -->

<!-- Portfolio start -->
<section id="portfolio" class="portfolio mt-3">
  <div class="container-fluid">
    <!--Isotope filter start -->
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">کاغذ دیواری</h3>
        <p>امروزه از هر روشی برای زیبا جلوه دادن فضای کار یا زندگی استفاده می شود. اما یکی از ساده ترین کار ها استفاده از کاغذ دیواری می باشد. شما با اجرای یک روکش دیواری مناسب می توانید علاوه بر ایجاد تغییرات در دکوراسیون داخلی منزل، بر روحیه ی افراد منزل نیز تأثیر مثبت بگذارید و بازدهی و بهره وری اعضای خانواده یا کارکنان یک محیط اداری را افزایش دهید. اما برای کسب اطلاعات بیش تر در زمینه کاغذ دیواری و اهمیت آن در دکوراسیون با ما همراه باشید.
          <span id="dots">...</span><button class="btn more"  onclick="readMore()" id="myBtn">بیشتر بدانید</button>
        </p>
        <span id="more">
          <p>کاغذ دیواری در حقیقت یک نوع پوشش برای دیوار های منزل یا محیط کار می باشد. شما ممکن است سال ها در یک خانه زندگی کنید. قاعدتاً باید از طرح و دکوراسیون آن خانه و دیوار های گچی آن بعد از مدتی خسته شوید. این طبیعی است که هر انسانی به دنبال تنوع می گردد. پس شما نیز میتوانید برای ایجاد تنوع در محیط زندگیتان از روکش و کاغذ دیواری در طرح ها و رنگ های مختلف استفاده کنید.&nbsp; کاغذ دیواری معمولاً به صورت رولی تولید می شود و با یک چسب مخصوص به دیوار و سقف چسبانده می شود.</p>
          <p><strong>نقش کاغذ دیواری در طراحی دکوراسیون داخلی</strong></p>
          <p>کاغذ دیواری ارتباط مستقیمی با زیبایی منزل و طراحی دکوراسیون داخلی آن دارد. یک انتخاب خوب در طرح و رنگ کاغذ دیواری می تواند زیبایی خیره کننده ای به منزلتان ببخشد و بهره وری فضای منزل را افزایش دهد. یا حتی می تواند تأثیر مثبتی در روحیه ی افراد خانه داشته باشد. امروزه از کاغذ دیواری به عنوان یکی از ابزار های اصلی در طراحی دکوراسیون داخلی استفاده می شود. البته در گذشته بیشتر سعی می کردند با گچ بری های زیبا روی سقف و دیوار این دکوراسیون را ایجاد کنند که با پیشرفت تکنولوژی جای خود را به روش های بهتر داده است.</p>
          <p><strong>مزایای کاغذ&nbsp; دیواری نسبت به رنگ</strong></p>
          <p>یکی از مزایای استفاده از کاغذ&nbsp; دیواری امکان به کارگیری رنگ ها و طرح های مختلف در یک محیط است. برای مثال در رنگ آمیزی خانه و اتاقتان شما تنها می توانید از یک رنگ یک دست و ساده استفاده کنید. در حالی که شما می توانید در یک اتاق از طرح های مختلف یا حتی متضاد و رنگ های مختلف و ترکیبی برای روکش دیوار هایتان استفاده نمایید. نکته دیگر دوام کاغذ دیواری نسبت به رنگ است. دیوار هایی که رنگ می شوند، پس از مدتی چرک و کثیف می شوند. اما کاغذدیواری علاوه بر این که مقاومت بسیاری دارند، بسیار راحت نیز تمیز می شوند، مخصوصاً این که قابل شست و شو باشند.</p>
          <p>مورد بعدی پنهان کردن برخی مشکلات در دیوار است. برای مثال دیوارهایی که ترک برداشته اند با رنگ، باز هم قابل مشاهده میباشند و این جالب نیست. مزیت دیگر کاغذ&nbsp; دیواری نسبت به رنگ در بی بو بودن آن است. مخصوصاً افرادی که دارای آلرژی هستند در خانه ای که به تازگی رنگ شده است، به سختی زندگی می کشند و تحمل کردکن بوی رنگ برایشان دشوار می باشد</p>
          <p><strong>عوامل موثر در قیمت کاغذ دیواری</strong></p>
          <p>عوامل متعددی هستند که بر قیمت کاغذ دیواری تاثیر می گذارند که مهمترین آن ها طول رول دیواری، نوع و جنس آن و هزینه های دستمزد می باشد. هر چقدر اتاق ها بزرگ تر باشند طبیعتا هزینه ی تمام شده کاغذ دیواری بیش خواهد بود و باید از رول های بیشتری برای روکش کشیدن دیوار استفاده شود. موضوع دیگر نوع و جنس کاغذ دیواری است که البته خود آن انواع مختلفی دارد. قاعدتاً کاغذ&nbsp; های دیواری با کیفیت که امکان شست و شو نیز دارند، هزینه بیشتری نیز خواهند داشت. شایان ذکر است کلیه کاغذدیواری های مجموعه گل سرخ قابل شست و شو هستند .هزینه ی دیگری که باید بپردازید، هزینه ی نصب و اجرای کاغذ&nbsp; دیواری توسط نصاب کاغذ&nbsp; و افراد فنی و حرفه ای می باشد. البته عملیات نصب کاغذ&nbsp; دیواری یک کار آن چنان سختی نیست اما اگر می خواهید کار تمیز اجرا شود و نتیجه ی مثبت داشته باشد، بهتر است برای این کار هم هزینه کنید و کار اجرای روکش دیواری را به متخصصان حرفه ای بسپارید.</p>
          </span>
        </div>
      <div class="col-lg-12">
        <div class="isotope-nav" data-isotope-nav="isotope">
          <ul>
            <li><a href="#" class="active" data-filter="*">همه</a></li>

            <li *ngFor="let cat of categories;index as i">
              <a href="#" [attr.data-filter]=categoriesId[i]>
                {{cat.Title}}
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <br>

    <!--Isotope  start -->
    <div class="row no-gutters isotope" id="isotope">
      <div *ngFor="let cat of categories;index as i;last as isLast" [class]=classString+cat.Id>
        <div class="grid">
          <figure class="effect-oscar">
            <img *ngIf="!isLast" [src]=url+cat.ImageURL [alt]=cat.Title>
            <img *ngIf="isLast" [src]=url+cat.ImageURL [alt]=cat.Title >
            <figcaption>
              <h3>{{cat.Title}}</h3>
              <a class="link icon-pentagon" [routerLink]="['/wallpaper/category/', cat.Id]">
                <i class="fa fa-link"></i></a>
              <a class="view icon-pentagon" data-rel="prettyPhoto" [href]=url+cat.ImageURL>
                <i class="fa fa-search"></i></a>
            </figcaption>
          </figure>
        </div>
      </div><!-- Isotope item end -->
    </div>

    <!-- Content row end -->
  </div><!-- container end -->
</section><!-- Portfolio end -->

<app-parallax></app-parallax>
