  <div class="container-fluid mt-2" id="contact">
    <a href="https://www.google.com/maps?q=34.3116236,47.0631354&z=17&hl=en">
      <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3295.5261507024643!2d47.06090201470649!3d34.31161761146517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDE4JzQxLjgiTiA0N8KwMDMnNDcuMSJF!5e0!3m2!1sen!2sca!4v1591803562558!5m2!1sen!2sca"
    width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </a></div>
  <!-- Footer start -->
	<footer id="footer" class="footer">
	  <div class="container-fluid">
	    <div class="row">

	      <div class="col-md-12 col-sm-12 footer-widget footer-about-us">

	        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
              <h4>آدرس</h4>
              <p>کرمانشاه، نبش چهارراه موید (چهارراه درمانگاه مهدیه)</p></div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12">
	            <h4>Email:</h4>
              <p>info@golesorkhdecor.ir</p>
              <h4>instagram:</h4>
	            <p>Golesorkhdecor</p>
	          </div>
	          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
	            <h4>تلفن</h4>
              <p class="tel">083-3723-3848</p>
              <p class="tel">083-3727-9060</p>
              <p class="tel">083-3722-1711</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
	            <h4>تلفن همراه (واتس اپ و تلگرام ):</h4>
              <p class="tel">0918-357-5286</p>
              <p class="tel">0918-480-8020</p>
	          </div>
	        </div>

	      </div>
	      <!--/ end about us -->

	    </div><!-- Row end -->
	  </div><!-- Container end -->
	</footer><!-- Footer end -->


	<!-- Copyright start -->
	<section id="copyright" class="copyright angle">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <ul class="footer-social unstyled">
	          <li>
	            <a title="تلگرام" href="https://t.me/Golesorkhdecor">
	              <span class="icon-pentagon wow bounceIn"><i class="fab fa-telegram-plane"></i></span>
	            </a>
	            <a title="واتس اپ" href="https://wa.me/9809183575286">
	              <span class="icon-pentagon wow bounceIn"><i class="fab fa-whatsapp"></i></span>
	            </a>
	            <a title="اینستاگرام" href="http://instagram.com/Golesorkhdecor">
	              <span class="icon-pentagon wow bounceIn"><i class="fab fa-instagram"></i></span>
	            </a>
              <a title="آدرس" href="https://www.google.com/maps?q=34.3116236,47.0631354&z=17&hl=en">
	              <span class="icon-pentagon wow bounceIn"><i class="fa fa-map-marker" aria-hidden="true"></i>
                </span>
              </a>

	          </li>
	        </ul>
	      </div>
	    </div>
	    <!--/ Row end -->
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <div class="copyright-info"><span>Designed by <a
	              href="https://pariaShiri.space">Paria Shiri</a></span>
	        </div>
	      </div>
	    </div>
	    <!--/ Row end -->
	    <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix position-fixed">
	      <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
	    </div>
	  </div>
	  <!--/ Container end -->
	</section>
	<!--/ Copyright end -->
