
<div class="row about-wrapper-bottom no-gutters mt-3">
  <div class="col-lg-6 col-md-6 offset-sm-0 col-12  wow animated fadeInLeft">
    <img src="assets/images/about.jpg" class="img-fluid float-left" style="max-height: 300px;" >
  </div>
  <div class="col-lg-6 col-md-6 p-2  about-message wow animated fadeInRight">
    <h3>چــرا دکوراسیون گـل ســرخ</h3>
    <h4>درباره ی دکوراسیون گل سرخ بیشتر بدانید</h4>
    <p>دکوراسیون گل سرخ با بیش از ۲۵ سال سابقه در دکوراسیون و تزئینات داخلی ساختمان فعالیت نموده و افتخار این را دارد که به لطف شما عزیزان به یکی از مورد اعتماد ترین برند ها در حوزه دکوراسیون و تزیینات داخلی بدل گردد</p>
    <ul class="unstyled arrow" id="agent" >
          <li>ارائه بهترین و با کیفیت ترین محصولات ساختمانی با برند های معروف در ایران</li>
          <li>اولین دکوراسیون داخلی ساختمان در کرمانشاه که  اقساط بلند مدت ارائه می دهد</li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 p-2  about-message wow animated fadeInLeft">
    <h3>اعطای عاملیت</h3>
    <p>جهت همکاری و اعطای عاملیت فروش در قالب ارسال آلبوم ها و کاتالوگ ها مدارک ذیل را به شماره واتس اپ مجموعه ارسال کنید و پس از تایید مدارک توسط کارشناس فروش مجموعه؛جزییات کار و قیمت ها در اختیار شما قرار خواهد گرفت. </p>
    <ul class="unstyled arrow">
      <li>داشتن پروانه کسب و فروشگاه فعال</li>
      <li>عکس از فروشگاه و مدارک شغلی و کارت ویزیت </li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 offset-sm-0 col-12 wow animated fadeInLeft">
    <img src="assets/images/branch.jpg" class="img-fluid" style="max-height: 300px;" alt="دکوراسیون داخلی گل سرخ" >
  </div>
</div>
