<!-- Portfolio start -->
<section id="portfolio" class="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 heading">
				<span class="title-icon classic float-right">
          <i class="fa fa-suitcase wow animated bounceInLeft"></i></span>
				<h2 class="title classic wow animated bounceInLeft" >محصولات ما</h2>
			</div>
		</div> <!-- Title row end -->
    <br>
		<!--Isotope filter start -->
		<div class="row">
			<div class="col-lg-12" >
				<div class="isotope-nav" data-isotope-nav="isotope">
					<ul>
						<li><a href="#" class="active" data-filter="*">همه ی محصولات</a></li>
						<li><a href="#" data-filter=".wallpapar">کاغذ دیواری</a></li>
						<li><a href="#" data-filter=".poster">پوستر</a></li>
						<li><a href="#" data-filter=".curtain">پرده</a></li>
            <li><a href="#" data-filter=".floorCovering">کفپوش</a></li>
            <li><a href="#" data-filter=".parquet">پارکت</a></li>
            <li><a href="#" data-filter=".falseceiling">سقف کاذب</a></li>
            <li><a href="#" data-filter=".wallplugs">دیوارپوش</a></li>
            <li><a href="#" data-filter=".kanuf">کناف</a></li>

					</ul>
				</div>
			</div>
		</div><!-- Isotope filter end -->
	</div>
<br>
	<div class="container-fluid">
		<div class="row isotope no-gutters" id="isotope">

			<div class="col-lg-3 col-md-3 col-sm-4 col-6 wallpapar isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/17.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>کاغذ دیواری</h3>
							<a class="link icon-pentagon"[routerLink]="['/wallpaper']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/17.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-6 wallpapar isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/18.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>کاغذ دیواری</h3>
							<a class="link icon-pentagon" [routerLink]="['/wallpaper']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/18.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
			</div>


			<div class="col-lg-3 col-md-3 col-sm-4 col-6 poster isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
            <img src="assets/images/products/1.jpg"  alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>پوستر</h3>
							<a class="link icon-pentagon" [routerLink]="['/poster']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/1.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-6 poster isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
            <img src="assets/images/products/2.jpg"  alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>پوستر</h3>
							<a class="link icon-pentagon" [routerLink]="['/poster']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/2.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-6 poster isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
            <img src="assets/images/products/3.jpg"  alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>پوستر</h3>
							<a class="link icon-pentagon" [routerLink]="['/poster']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/3.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>


      <div class="col-lg-3 col-md-3 col-sm-4 col-6 curtain isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/13.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>پرده تصویری</h3>
							<a class="link icon-pentagon" [routerLink]="['/curtain']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/13.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-6 curtain isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/12.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>پرده افقی</h3>
							<a class="link icon-pentagon" [routerLink]="['/curtain']" fragment="banner-area"><i class="fa fa-link"></i></a>
              <a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/12.jpg">
                <i	class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
			</div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-6 curtain isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/8.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>پرده عمودی</h3>
							<a class="link icon-pentagon" [routerLink]="['/curtain']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/8.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-6 curtain isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/11.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>پرده زبرا</h3>
							<a class="link icon-pentagon" [routerLink]="['/curtain']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/11.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
			</div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-6 floorCovering isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/7.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>کفپوش</h3>
							<a class="link icon-pentagon" [routerLink]="['/floor']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/7.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-6 floorCovering isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/16.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>کفپوش</h3>
							<a class="link icon-pentagon" [routerLink]="['/floor']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/16.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-6 parquet isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/4.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>پارکت</h3>
              <a class="link icon-pentagon" [routerLink]="['/parquet']" fragment="banner-area"
              ><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/4.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-6 falseceiling isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/9.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>سقف کاذب</h3>
							<a class="link icon-pentagon"[routerLink]="['/falseceiling']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/9.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-6 falseceiling isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/10.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>سقف کاذب</h3>
							<a class="link icon-pentagon"[routerLink]="['/falseceiling']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/10.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-6 wallplugs isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/14.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>دیوارپوش</h3>
							<a class="link icon-pentagon"[routerLink]="['/wallplugs']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/14.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-6 wallplugs isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/15.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>دیوارپوش</h3>
							<a class="link icon-pentagon"[routerLink]="['/wallplugs']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/15.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-6 kanuf isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/5.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>کناف</h3>
							<a class="link icon-pentagon" [routerLink]="['/kanuf']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/5.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-6 kanuf isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img src="assets/images/products/6.jpg" alt="دکوراسیون داخلی کرمانشاه">
						<figcaption>
							<h3>کناف</h3>
							<a class="link icon-pentagon"[routerLink]="['/kanuf']" fragment="banner-area"><i class="fa fa-link"></i></a>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="assets/images/products/6.jpg"><i
									class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div>

		</div>
	</div>
</section>



