<div id="banner-area">
  <img src="../../../assets/images/banner-parquet.jpg" alt="" />
	<div class="parallax-overlay"></div>
	<!-- Subpage title start -->
	<div class="banner-title-content">
		<div class="text-center">
			<h2>پارکت</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="#">خانه</a></li>
					<li class="breadcrumb-item text-white" aria-current="page">پارکت</li>
				</ol>
			</nav>
		</div>
	</div><!-- Subpage title end -->
</div><!-- Banner area end -->

<section id="portfolio" class="portfolio mt-4">
	<div class="container">
		<!--Isotope filter start -->
		<div class="row">
      <div class="col-lg-12" >
        <h3 class="text-center">پارکت </h3>
        <p>پارکت لمینت از کفپوشهای دکوراتیو و زیبا در دکوراسیون داخلی است که دارای طرفداران زیادی است. کفپوش لمینت یا همان کفپوش HDF به دلیل قیمت مناسب و طرحهای زیبا امروزه جای پارکت را پر کرده و از جمله کفپوش های پر مصرف در دکوراسیون می باشد
          <span id="dots">...</span><button class="btn more"  onclick="readMore()" id="myBtn">بیشتر بدانید</button>
        </p>
        <span id="more">
        <p>لمینت در واقع همان پارکت مصنوعی و صنعتی است که از مغز فشرده HDF با روکش طرح چوب و لایه محافظ رویه و زیرین ساخته شده است. لایه رویه پارکت لمینت ضد آب و اشعه UV می باشد و مغز آن نیز بدلیل فشردگی زیاد تا حدودی مقاوم در برابر رظوبت می باشد که البته در بعضی از برندها با استفاده از پارافین در کلیک ها ، این محصول را ضد آب نموده اند و تنها راه نفوذ آب به داخل لمینت را از این طریق بسته اند.&nbsp; کفپوش پارکت لمینت در ضخامت های 8 ، 10 و 12 میلی متر در بازار عرضه می شود</p>
        <p>فروشگاه گلسرخ در زمینه فروش و پخش پارکت لمینت بصورت کلی و جزئی فعالیت می نماید .&nbsp; این شرکت دارای تنوع بسیار طرح و رنگ در پارکت لمینت بوده و از لمینت های ارزان تا لمینت های اروپایی و لاکچری را در یک مجموعه فراهم کرده است</p>
        <p><strong>پارکت و لمینیت</strong></p>
        <p>پارکت یک نوع کفپوش بسیار پرکاربرد و محبوب است که از چوب ساخته شده است و مقاومت بسیار بالایی نیز در برابر فشار، ضربه و همچنین سرما و گرما دارد. پارکت نه تنها برای ساختمان های مسکونی بلکه در برخی از سازه های اداری و تجاری نیز مورد استفاده قرار میگیرد. پارکت در&nbsp; طرح و رنگ های متنوعی ساخته میشود و&nbsp; زیبایی و جذابیت بسیار بیشتری نسبت به سایر کفپوش ها دارد. پارکت علاوه بر زیبایی و مقاومت بالایی که دارد از مزایای دیگری نیز برخوردار است. پارکت نصب بسیار سریع و آسان تری نسبت به سایر کفپوش ها دارد. برای نصب پارکت تنها کافی است قطعات پارکت را در کنار یکدیگر قرار داده و برای اتصال آنها به زمین و سطح نیز از چسب های مخصوص استفاده نمود. البته نوعی از پارکت نیز وجود دارد که به آن پارکت لمنیت گفته میشود و برای نصب آن حتی به چسب نیز نیازی نیست و کافی است تا لبه های پارکت به یکدیگر وصل شوند...</p>
        <p><strong>قیمت پارکت</strong></p>
        <p>دو عامل بسیار مهم وجود دارند که در قیمت پارکت تاثیرگذار هستند. جنس و کشور سازنده دو عامل تاثیرگذار بر قیمت پارکت هستند. جنس برخی انواع پارکت لمینت از نوع درجه یک و بسیار محکم است که دوام و طول عمر آنرا افزایش میدهند اما در مقابل برخی از پارکت ها نیز وجود دارند که از جنس آنها چندان مناسب نیست و در مواجهه با فشار و همچنین برخورد آب یا حرارت دچار تغییر شکل و همچنین فرسودگی میشوند. کشورهای زیادی وجود دارند که در زمینه تولید پارکت فعالیت میکنند که برخی از آنها در خارج و برخی دیگر در داخل فعالیت میکنند. قیمت پارکت نسبت به برند و کشور تولید کننده متفاوت خواهد بود و بهتر است به این موضوع آگاه باشید که قیمت پارکت خارجی معمولا بالاتر از پارکت های تولید داخل است</p>
        <p>** مراجعه حضوری جهت مشاهده محصولات برای شما عزیزان میسر می باشد .</p>
</span>
      </div>
			<div class="col-lg-12" >

        <h3 class="text-center">انواع پارکت خانگی</h3>

				<!-- <div class="isotope-nav" data-isotope-nav="isotope">
					<ul>
            <li><a href="#" class="active" data-filter="*">همه ی محصولات</a></li>
						<li><a href="#" data-filter=".1">خانگی</a></li>

					</ul>
				</div> -->
			</div>
		</div><!-- Isotope filter end -->
	</div>
<br>
	<div class="container-fluid " >
		<div class="row no-gutters isotope" id="isotope">
      <div *ngFor="let i of num" class="col-lg-3 col-md-3 col-sm-4 col-6 1 isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img [src]=url+i+ex alt="دکوراسیون داخلی کرمانشاه پارکت">
						<figcaption>
              <h3>خانگی</h3>
              <a class="view icon-pentagon 1" data-rel="prettyPhoto"
               [href]=url+i+ex><i
                class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div><!-- Isotope item end -->

		</div><!-- Content row end -->
	</div><!-- Container end -->
</section>
<app-parallax></app-parallax>


