<!-- Parallax 1 start -->
<section class="parallax parallax1 mt-1">
	<div class="parallax-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>از نمونه های کاغذدیواری و پوستر ما دیدن فرمایید</h2>
				<p>
					<a [routerLink]="['/wallpaper']" class="btn btn-primary white">کاغذ دیواری ها</a>
					<a [routerLink]="['/poster']" class="btn btn-primary solid">پوسترها</a>
				</p>
			</div>
		</div>
	</div><!-- Container end -->
</section><!-- Parallax 1 end -->
