<div id="banner-area">
  <img src="../../../assets/images/banner-poster.jpg" alt="" />
	<div class="parallax-overlay"></div>
	<!-- Subpage title start -->
	<div class="banner-title-content">
		<div class="text-center">
			<h2>پوستر</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="#">خانه</a></li>
					<li class="breadcrumb-item text-white" aria-current="page">پوستر</li>
				</ol>
			</nav>
		</div>
	</div>
</div>
<section id="portfolio" class="portfolio mt-4">
	<div class="container">
		<!--Isotope filter start -->
		<div class="row">
      <div class="col-lg-12" >
        <h3 class="text-center">پوستر</h3>

        <p>پوستر دیواری سه بعدی یا کاغذ دیواری سه بعدی یکی از بروزترین محصولات دکوراسیون داخلی در این روزهاست که طرفداران زیادی پیدا کرده است . این پوسترها با طراحی خاصی که دارند جلوه ای سه بعدی و برجسته ایجاد میکنند که بسیار جالب توجه است و حتی در مواردی به جای مجسمه های گران قیمت و یا دیوارپوش های سه بعدی که هزینه بسیار بیشتری دارند استفاده می شود که جایگزین بسیار مناسبی برای این محصولات گران قیمت می باشد . در این مجموعه سبکهای مختلفی از کاغذ دیواری سه بعدی بصورت طبقه بندی گرد آوری شده است تا پاسخگوی سلیقه شما عزیزان باشد.
          <span id="dots">...</span><button class="btn more"  onclick="readMore()" id="myBtn">بیشتر بدانید</button>
        </p>
        <div id="more">
<p style="text-align: center;"><strong>لازم به ذکر است کلیه پوستر دیواری ها قابل شستشو بوده و به دو صورت مات و براق در ابعاد دلخواه قابل سفارش می باشد ..</strong></p>
<p>خواهشمند است جهت نتیجه بهتر در انتخاب طرح ، از کلیه آلبومهای پوستر دیواری مرتبط دیدن فرمایید .</p>
<p>&nbsp;ایجاد محیطی جذاب و منحصر بفرد دغدغه بسیاری از افراد است تا به این وسیله بتوانند شخصیت خود را منعکس نمایند. بنابراین می توان گفت نوع چیدمان و دکوراسیون منزل می تواند شما را در این زمینه یاری کند و نشان دهنده نوع تفکر و سلیقه شما باشد. استفاده از پوستر دیواری سه بعدی یکی از بهترین راه ها برای ایجاد یک دکوراسیون خلاقانه و جذاب در منزل و یا محیط کار می باشد.</p>
<p>در شهرهای بزرگ امروزی که زندگی در آن ها از دغدغه های مختلف خالی نیست زندگی در خانه کوچک و بی روح بسیار کسل کننده و خسته کننده است که یکی از راه حل هایی که مانع از ایجاد این حس می شود ایجاد دکوراسیونی مناسب با فضای شما می باشد. شما می توانید با خرید پوستر دیواری سه بعدی مناسب برای فضایی که در ان زندگی می کنید فضا را به نظر بزرگ تر به نمایش بگذارید و همچنین از منظره های زیبای پوستر دیواری برجسته لذت ببرید و از حس فشاری که در خانه های کوچک برای افراد ایجاد می شود رهایی یابید.</p>
<p><strong>تفاوت کاغذ دیواری و پوستر دیواری سه بعدی</strong></p>
<p>پوستر دیواری برجسته از نظر نوع جنس، ابعاد و قیمت با کاغذ دیواری تفاوت دارد. بر روی کاغذ دیواری سه بعدی تصاویری سفارشی که دارای سایه هایی هستند که حس سه بعدی را برای انسان ایجاد می کنند چاپ می شود و به گونه ای بعد دیگری را بر روی دیوار بوجود می آورد. نکته ای که پوستر دیواری سه بعدی را جذاب تر می کند این است که شما می توانید تصویری از مراسم عروسی و یا فرزندتان را به شکل سفارشی بر روی این نوع از کاغذ دیواری چاپ کنید و یا تصاویری از گل و منظره و یا فضای زیر آب و بسیاری دیگر از صحنه ها را در پوستر دیواری سه بعدی به تصویر در آورید و از آن ها لذت ببرید. با استفاده از پوستر دیواری برجسته شما می توانید در دکوراسیون خود با کمترین هزینه تغییرات زیادی را ایجاد نمایید. قیمت پوستر دیواری سه بعدی نسبت به کاغذ دیواری بیشتر است اما به دلیل ماندگاری بیشتر آن نسبت به کاغذ دیواری و زیبایی منحصر بفرد آن نیازی ندارید تا در فواصل کمی آن را تعویض نمایید بنابراین در کل خرید کاغذ دیواری سه بعدی ارزش سرمایه گذاری را از هر نظر دارد.</p>
     </div>
      </div>
			<div class="col-lg-12" >

        <h3 class="text-center">انواع  پوستر</h3>
				<div class="isotope-nav" data-isotope-nav="isotope">
          <ul>
            <!-- load from database -->
            <li><a href="#" class="active" data-filter="*">همه</a></li>
            <li *ngFor="let pos of postercats;index as i">
              <a href="#" [attr.data-filter]=categoriesId[i]>
                {{pos.Title}}
              </a>
            </li>
          </ul>
				</div>
			</div>
    </div>
    <!-- Isotope filter end -->
	</div>
<br>
	<div class="container-fluid" >
    <div class="row no-gutters isotope" id="isotope">
      <div *ngFor="let cat of postercats;index as i;last as isLast"
      [class]=classString+cat.Id+item>

        <div class="grid">
          <figure class="effect-oscar">
            <img *ngIf="!isLast" [src]=url+cat.ImgUrl [alt]=cat.Title >
            <img *ngIf="isLast" [src]=url+cat.ImgUrl [alt]=cat.Title  >

            <figcaption>
              <h3>{{cat.Title}}</h3>
              <a class="link icon-pentagon" [routerLink]="['/poster/category/', cat.Id]" fragment="main-container">
                <i class="fa fa-link"></i></a>
              <a class="view icon-pentagon" data-rel="prettyPhoto" [href]=url+cat.ImgUrl>
                <i class="fa fa-search"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>

		</div><!-- Content row end -->
	</div><!-- Container end -->
</section>

<app-parallax></app-parallax>
