<div id="banner-area">
  <img src="../../../assets/images/banner-ceiling.jpg" alt="" />
	<div class="parallax-overlay"></div>
	<!-- Subpage title start -->
	<div class="banner-title-content">
		<div class="text-center">
			<h2>سقف کاذب</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="#">خانه</a></li>
					<li class="breadcrumb-item text-white" aria-current="page">سقف کاذب و آسمان مجازی</li>
				</ol>
			</nav>
		</div>
	</div><!-- Subpage title end -->
</div><!-- Banner area end -->

<section id="portfolio" class="portfolio mt-4">
	<div class="container">
		<!--Isotope filter start -->
		<div class="row">
			<div class="col-lg-12" >
        <h3 class="text-center">انواع سقف کاذب و آسمان مجازی</h3>
        <p>سقف کاذب به عنوان یک پوشش برای سقف اصلی در نظر گرفته می شود. این پوشش نه تنها زیبایی سقف را دو چندان می کند، بلکه با استفاده از آن میتوان تاسیسات و سیم کشی ها را پوشش داد و دغدغه مخفی نگه داشتن آنها را رفع نمود. سقف کاذب نوعی سقف ثانویه برای ساختمان محسوب می شود که در پایین سقف اصلی نصب می شود و عیوب آن را برطرف می سازد.
<span id="dots">...</span><button class="btn more"  onclick="readMore()" id="myBtn">بیشتر بدانید</button></p>
          <span id="more">
            <p>این سقف به سقف اصلی و دیوارهای اطراف متصل می گردد و سازه اصلی بار آن را تحمل می کند. سقف کاذب برای عایق نمودن سقف در برابر صدا و حرارت، اجرای نورپردازی های دکوراتیو، پوشش سیم های تاسیسات و &hellip; کاربرد دارد و در اکثر خانه های امروزی می توان نمونه های مختلف آن را مشاهده کرد.</p>
            <p>این سقف ارتفاع اتاق را کاهش می دهد، به همین منظور برای جلوگیری از ایجاد فضایی محدود و تنگ آن را لزوما دیوار به دیوار اجرا نمی کنند. امروزه با خلق ایده های جدید، طرح های متنوعی برای سقف کاذب ارائه می شود که می توان با توجه به سلیقه و دکوراسیون مورد نظر آن ها را انتخاب نمود.</p>
            <p>طراحی سقف های کاذب از جمله جذاب ترین موضوعات در معماری می باشد. با استفاده از این نوع سقف ها می توان تغییری اساس در دکوراسیون داخلی به وجود آورد. این سقف ها با طراحی های منحصر بفرد و جذاب دکوراسیون را زیباتر نشان می دهند و جلوه ای متفاوت به آن می بخشند. از قابلیت های ویژه سقف کاذب این است که می توان در آن نورپردازی انجام داد و فضایی دکوراتیو و دلنشین به نمایش گذاشت.</p>
            <p>گاهی سقف کاذب برای تاکید بر یک نقطه از منزل مانند میز نهارخوری اجرا می شود که این کار ایده ای بسیار جالب و چشمگیر است. این سقف یکنواختی فضا را از بین می برد و آن را به مرکز توجه تبدیل می کند. از سقف کاذب نه تنها برای پوشش سقف اتاق بلکه برای سقف حمام و سرویس بهداشتی نیز استفاده می شود.<br />سقف هایی که در این قسمت از خانه نصب می شوند اصولاً ضد آب هستند و مقاومت بالایی در برابر نفوذ آب و رطوبت دارند. سقف کاذبی که برای مکان های مرطوب کاربرد دارد، از PVC ساخته می شود.<br />سقف کاذب نوعی پوشش جدید است که امروزه اکثر افراد به آن گرایش پیدا کرده اند و برای دکوراتیو نمودن منزل خود از آن استفاده می نمایند. این سقف جایگزین مناسبی برای گچ کاری محسوب می شود و سازه آن به صورت پیش ساخته در کارخانه تولید می گردد.</p>
            <p>سقف کاذب را با مصالح بسیار سبک می سازند و فریم آن را به دیوارهای مجاور متصل می کنند تا هنگام وقوع زلزله در اثر تکان های شدید منجر به تخریب دیوار نشود. جنس این سقف از PVC، آهن، گچ، چوب، فلز، طلق، آلومینیوم، آهن، کامپوزیت، صفحات فلزی روکش دار و یا ترکیبی از این متریال ها می باشد.<br />مزایای استفاده از سقف کاذب<br />از جمله مزایای اجرای سقف کاذب به شرح زیر می باشند:</p>
            <ul>
            <li>سقف کاذب قابلیت جا به جایی دارد و هزینه اجرای آن در مقایسه با تعمیر و بازسازی سقف اصلی ارزان تر خواهد بود.</li>
            <li>این سقف نقش بسیاری در جذب صدا دارد بنابراین از انتقال سر و صدا بین طبقات جلوگیری می کند.</li>
            <li>تعمیر سقف کاذب آسان است.</li>
            <li>این سقف لوله ها و سیم کشی های رد شده در سقف اصلی را پوشش می دهد.</li>
            <li>اجرای سقف کاذب نقش بسزایی در بهینه سازی مصرف انرژی دارد زیرا از هدر رفت انرژی گرمایشی و سرمایشی جلوگیری می کند.</li>
            <li>با استفاده از سقف کاذب می توان نورپردازی های بسیار زیبا در فضای مورد نظر اجرا نمود.</li>
            <li>اگر سقف کاذب درست اجرا شود، می تواند مصرف سوخت در ساختمان&nbsp; را به حدالقل برساند.</li>
            <li>نصب عایق های حرارتی و اجرای سقف کاذب بدون هیچ نوع درز می تواند انتقال حرارت را کاهش دهد.</li>
            </ul>
            <h4>انواع سقف کاذب</h4>
            <p><strong>یکپارچه :</strong>ورق های کناف، سقف های سبکی هستند که به واسطه تولید صنعتی ؛ دارای مشخصات فنی استاندارد ( با مقاومت در برابر زلزله ) بوده و جایگزین بسیار مناسبی برای سقف های کاذب غیراستاندارد ساخته شده با رابیتس و گچ می باشند.این ساختار شامل زیرسازی فولادی سبک ( متصل به سقف اصلی ) بوده که صفحات روکش دار گچی به وسیله پیچ مخصوص بر روی آنها نصب می شوند. درزهای میان این صفحات به وسیله نوار و بتونه مخصوص درزگیری شده و بدین ترتیب سطحی یکپارچه و بدون درز حاصل می شود که دارای قابلیت رنگ آمیزی ( بلافاصله بعد از خشک شدن بتونه و اجرای ماستیک ) می باشد. فضای خالی پشت سقف کاذب ، امکان استفاده از انواع عایق حرارتی و صوتی را فراهم نموده و عبور و دسترسی به تاسیسات الکتریکی و مکانیکی را میسر می سازد.از دیگر مزیت های کناف می توان به انعطاف معماری بالا ، و عدم نیاز به پیش بینی آویز ( همانند سقف های کاذب با مصالح بنایی ) اشاره نمود.</p>
            <p><strong>مشبک:&nbsp;</strong>سقف کاذب مشبک کناف از شبکه سازه های سپری و تایل های گچی تشکیل می شوند. شبکه مذکور به وسیله آویزهای قابل تنظیم به سقف اصلی متصل گردیده و سپس تایل های 60*60 درون این شبکه قرار می گیرند. از جمله ویژگی های این ساختار:نصب سریع و آسان ، دسترسی آسان به فضای تاسیساتی پشت و تعمیر و نگهداری آسان می باشد.<br />تایل های گچی و معدنی ، در سقف های کاذب مشبک به کار می روند.از شبکه سازه های سپری که به وسیله آویزهای قابل تنظیم ، به سقف اصلی متصل گردیده و تایل های سقفی که درون این شبکه قرار می گیرند ، تشکیل شده اند.تایل های سقفی در طرح های زیبا و متنوع و ابعاد مختلف به طراحان خصوصیات آکوستیکی ، مقاومت در برابر حریق و ایمنی در برابر زلزله را به همراه امکان دسترسی به فضای پشت عرضه می نماید.</p>
            <p>انواع تایل گچی عبارت است از : تایل گچی کرمی سوزنی ؛ تایل گچی سوراخ دار (منظم و نامنظم) ؛ آکوستیک ؛ پشت آلومینیومی و روکش pvc ؛ تایل گچی حصیری ، تخم مرغی و ....</p>
            <h4>تایل آکوستیک (جذب و عایق صدا)</h4>
            <p>تایل های آکوستیک دارای ضخامت های 8 میل ، 12 میل و 15 میل می باشد که برای فضاهای استودیو، فضاهای صدابرداری و فضاهای اتاق کنفرانس و ... کاربرد دارد. انواع تایل های آکوستیک از نظر لبه تایل به دو دسته" بدون لبه و لبه دار" تقسیم می شود. تایل بدون لبه در کنار هم به صورت مشبک در فضای سقف قرار می گیرد.تایل لبه دار از سطح سقف کاذب پایین تر است و لبه های تایل قابل رویت هستند. تایل های آکوستیک در طرح هایی با زمینه سفید و کرمی سوزنی ریز و درشت هستند که عبارتند از طرح های کرمی سوزنی ، کرمی ، سوزنی ، کراس تیشر<br />تایل پی وی سی</p>
            <p>از مهمترین ویژگی های تایل های پی وی سی عبارتند از:</p>
            <ol>
            <li>مـقاومـت دائـمی در بـرابـر آب : عـدم تغـییر ظـاهر و قـواره در مجـاورت بـا رطـوبت ، قـابلیـت شستشو و سـهولت تنـظیف ، از برتری های نـاب تایل های پی وی سی بـه شـمار مـی آید .</li>
            <li>ساختار و ترکیب مناسب :ساختار مناسب و درصد ترکیب مواد اولیه مرغوب همراه با شیارهای درونی تایل ها از دلایل مقاومت بالای فیزیکی این سازه می باشد. این ساختار موزون سبب گردیده وزن تایل به صورت یکنواخت بر سطح مقطع تایل تقسیم شده و تایل دچار خمش و انحنا نگردد. همچنین به علت ضخامت مناسب لایه سطح ، شیارهای مابین تایل به هیچ عنوان قابل رویت نمی باشند.</li>
            <li>انـطباق کامـل بـا محـیط های بـهداشتی : مـضاف بـر ایـنکه ایـن تـایـل ها دارای آمیزه هایی عاری از موادمضر بوده ، سطح صاف و صیقلی این تایل ها موجب جلوگیری از رشد و نمو انواع جلبک ،قارچ و میکروب روی آن می گردد . ( مطابق با استاندارد JIS Z 2801:2000 ژاپن و ISO 22196:2007 )</li>
            <li>ضد حریق و غیر قابل اشتعال بودن :این محصـول که تا دمای نزدیک به 80 Cg. در برابر گرما ایستایی و مقاومت دارد و در مجـاورت با آتـش نیز شـعله ور نـمی شود . (مطابق با استاندارد بین المللی GB 8624 B2 )</li>
            <li>وزن متعادل :ازاین رو که وزن سبک برخی سقف های کاذب در هنگام تغییر فشار هوا و بروز چرخه های هوایی، موجب تزلزل جانمایی و جابجای تایل درون شبکه شده و وزن سنگین دیگر نمونه ها منجر به فرو ریختگی و انفصال سیستم شبکه کلیک می شود این فراورده نوین با وزن تقریبی3.6 کیلو گرم در هر متر مربع به طور کامل این کاستیها را بر طرف نموده است .</li>
            <li>عایق صوتی و حرارتی :ساختار 2 لایه و مشبک بودن لایه میانی تایل مانع از اتلاف و هدر رفت انرژی شده و باعث می گردد این فرآورده در زمره عایق های بهینه حرارتی و صوتی محسوب گردد .</li>
            <li>سقف کاذب دارای طـرح هـای منحصر به فرد و متـنوع : گـونـاگـونی طــرح های شیک فرم طــراح را بـه فراخـور مــحیط و کاربـری ، در انتــخاب گـزینه هـای مـات و یـا درخشـنده و بـراق یـاری مـی نمـاید . روکش سیلور موجود در این محصولات که با متد پیشرفته HOT STAMP انجام می پذیرد باعث انعکاس و تلاءلو نور در فضا شده و نورافشانی دلپذیر محیط را سبب ساز می شود.</li>
            <li>ضد حشره و جوندگان موذی :به دلیل ساختار و نوع مواد تشکیل دهنده ، حشرات و جوندگان موذی قادر به نفوذ و لانه سازی در این نوع تایل ها برای سقف ها نمی باشند.</li>
            <li>جنبه اقـتصـادی : بـا توجه به تفاوت ملموس قیمت آن با نمونه های آلومینیومی و خصوصیات برتری که نسبت به نمونه های گچی دارد از لحاظ اقتصادی نیز نسبت بدین سقف ها کاملا توجیه پذیر است .</li>
            </ol>
            <p>تایل های هات استمپ ؛ روکشدار ؛ سفید ساده و براق<br />تایل های هات استمپ در سقف های کاذب مشبک به کار می روند ، زیرساز این سقف ها با پروفیل های سپری انجام می گیرد که پس از زیرسازی و به وجود آوردن این شبکه تایل ها در درون شبکه ها قرار می گیرد.دارای طرح های مختلف و حالت شبرنگی است که برای فضاهای اداری و تجاری و ... به صورت کامل و یا ترکیبی با یک رنگ سفید به کار برده می شود.</p>
            <p>ز تایل های چاپی به دلیل وجود طرح های مختلفی که روی آنها چاپ شده است بیشتر در فضای سقف کاذب به صورت دکوراتیو استفاده می کنند.طرح تایل های چاپی برای بسیار متنوع میباشد<br />تایل روکشدار بدین معنی است که روکشی از جنس پی وی سی در طرح و رنگ مختلف بر روی تایل قرار میگیرد</p>
            <p>سفید ساده بدین صورت است که هیچ روکشی بر روی خود ندارد و هیچ طرحی نیز بر روی آن چاپ نشده است به همین دلیل این محصول از ارزانترین تایل های پی وی سی محسوب میشود.</p>
            <h4>تایل معرق</h4>
            <p>با استفاده از دستگاه برش لیزری بر روی ورق های پی وی سی و گاها mdf طرح های مخصوصی برش داده میشود دقیقا همانند هنر معرق کاری که به همین دلیل با عنوان سقف معرق نیز شناخته میشود. از دیگر نامهای این تایل دکوراتیو سقف cnc است که علت این نام گذاری برش ورق ها توسط دستگاه سی ان سی میباشد. این تایل دکوراتیو بسیار زیبا بوده و میتواند برای هر مکانی مورد استفاده قرار گیرد.</p>
            <h4>تایل طلقی و پلکسی دوغی</h4>
            <p>تایل های از جنس طلق که حالتی شفاف داشته و میتواند نور را از خود عبور دهد در زیر مجموعه سقف های 60 در 60 قرار میگیرد. به طور کلی این ورق های شفاف در ابعاد 1.22 در1.80 با ضخامت های متفاوتی تولید میشود و در صورت دلخواه به ابعاد و اشکال مختلف برش داده میشود. این سقف مشبک بدلیل اینکه رنگی مایل به سفید دارد با عنوان پلکسی دوغی شناخته میشود</p>
            <h4>آسمان مجازی</h4>
            <p>در صورتی که طرح و یا عکسی بر روی این طلق های شفاف چاپ و یا به صورت برچسب بر روی آن اجرا شود با عنوان سقف آسمان مجازی شناخته میشود</p>
            </span>

				<!-- <div class="isotope-nav" data-isotope-nav="isotope">
					<ul>
            <li><a href="#" class="active" data-filter="*">همه ی محصولات</a></li>


					</ul>
				</div> -->
			</div>
		</div><!-- Isotope filter end -->
	</div>
<br>
	<div class="container-fluid ">
    <div class="row no-gutters" id="isotope">

      <div *ngFor="let i of items" class="col-lg-2 col-md-2 col-sm-4 col-6 1 isotope-item">
				<div class="grid">
					<figure class="m-0 effect-oscar">
						<img [src]=url+i+ex alt="دکوراسیون داخلی کرمانشاه سفق کاذب">
						<figcaption>
              <a class="view icon-pentagon" data-rel="prettyPhoto"
              [href]=url+i+ex ><i
                class="fa fa-search"></i></a>
						</figcaption>
					</figure>
				</div>
      </div><!-- Isotope item end -->


		</div>
	</div><!-- Container end -->
</section><!-- Portfolio end -->
<app-parallax></app-parallax>

